<footer>
    <span>&copy; @DateTime.Now.Year @Resources.Texts.JD</span>
    @*<ul>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        </ul>*@
    @Html.Partial("_LanguagePartial", ADV.Web.Code.UIHelper.GetCurrentLanguage())
</footer>