@using ADV.Web.Code
<header>
    <div class="bg"></div>
    <div class="profile-name">
        <div>@Resources.Texts.JD</div>
        <div class="profile-about">@Resources.Texts.SoftwareDeveloperTitle</div>
    </div>
    <div class="pic"><img src='@Url.Image("my-photo.png")' class="img-responsive" /></div>
</header>