<div class="nav-content">
    <nav sticky-nav class="normal">
        <ul class="navigation clearfix">
            <li><a ui-sref="profile" active-link="nav-active"><i class="fa fa-user"></i>@Resources.Texts.MenuProfile</a><div class="point"></div></li>
            <li><a ui-sref="experience" active-link="nav-active"><i class="fa fa-file-text"></i>@Resources.Texts.MenuExperience</a><div class="point"></div></li>
            <li><a ui-sref="portfolio" active-link="nav-active"><i class="fa fa-briefcase"></i>@Resources.Texts.MenuPortfolio</a><div class="point"></div></li>
        </ul>
    </nav>
</div>