<h4>Contact</h4>
<div class="delim"></div>
<div class="row">
    <div class="col-md-6">
        <div class="map">
            <div id="map"></div>
        </div>
    </div>
    <div class="col-md-6">
        <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Name">
        <input type="text" name="email" id="email" class="form-control input-lg" placeholder="Email">
        <input type="text" name="subject" id="subject" class="form-control input-lg" placeholder="Subject">
        <textarea name="message" id="message" rows="6" class="form-control input-lg" placeholder="Message"></textarea>
        <input type="button" value="Send Message" class="btn btn-default">
    </div>
</div>