@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .error-404
        {
            width: 100%;
    margin: 0 auto;
    background: url('../../../Content/img/404.png') no-repeat center;
    height: 330px;
    text-align: center;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>404</title>
</head>
<body>
    <div class="error-404">
        
    </div>
</body>
</html>
