@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .error-500 {
            width: 100%;
            margin: 0 auto;
            background: url('../../../Content/img/500.png') no-repeat center;
            height: 330px;
            text-align: center;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>500</title>
</head>
<body>
    <div class="error-500">

    </div>
</body>
</html>
